* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    color: #fff;
    font-family: Poppins, sans-serif;
}

body {
    background: url("./images/2150061955.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-container {
    height: 480px;
    width: 380px;
    padding: 30px 50px;
    border-radius: 50px;
    background-color: rgba(251, 177, 177, 0.195);
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    text-align: justify;
    line-height: 185%;
}

h1 {
    margin: 30px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    background: none;
    color: #fff;
}

input:focus {
    outline: none;
}

label {
    color: #b3b3b3;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ffffff;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #ffffff;
    }
    to {
        width: 0;
        background: transparent;
    }
}

button{
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

p{
    font-size: 14px;
    margin-top: 20px;
}