body{
    background-color: rgba(239, 139, 67, 0.877);
}

h1, h4{
    color: rgb(72, 0, 255);
}

h2{
    background-color: rgba(65, 234, 130, 0.981);
}
.bglime{
    color: red;
}

p{
    color: #ffffff;
}

#pars {
    color: rgb(20, 248, 12);
}

#black, a{
    color: black;
}

li{
    color: #ffffff;
}

.yellow{
    background-color: rgb(216, 239, 4);
    color: rgb(47, 71, 255);
}

.green{
    background-color:rgb(47, 71, 255);
}

.gn{
    color: blue;
}

.rd{
    color: red;
}