*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 90vh;
    background-color: black;
    color: #ffffff;
    padding-left: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    width: 80px;
    height: 90px;
    margin-top: 40px;
   margin-left: 8vw;
}

span{
    font-size: 10rem;
   letter-spacing: 7px;
}

.animation1{
    margin-left: 20vw;
  
}

