.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
 span:nth-child(1) {
    background-image: url(./img/nautical-star-1.webp);
    height: 550px;
    width: 550px;
    background-size: 100% 100%;
    animation: anim 3s infinite ease-in;
    position: absolute;
    z-index: 1;
    animation-delay: 0.1s;
}
 span:nth-child(2) {
    background-image: url(./img/nautical-star-1.webp);
    height: 450px;
    width: 450px;
    background-size: 100% 100%;
    animation: anim 3s infinite ease-in;
    position: absolute;
    z-index: 2;
    animation-delay: 0.2s;
}
 span:nth-child(3) {
    background-image: url(./img/nautical-star-1.webp);
    height: 350px;
    width: 350px;
    background-size: 100% 100%;
    animation: anim 3s infinite ease-in;
    position: absolute;
    z-index: 3;
    animation-delay: 0.3s;
}
span:nth-child(4) {
    background-image: url(./img/nautical-star-1.webp);
    height: 250px;
    width: 250px;
    background-size: 100% 100%;
    animation: anim 3s infinite ease-in;
    position: absolute;
    z-index: 4;
    animation-delay: 0.4s;
}
 span:nth-child(5) {
    background-image: url(./img/nautical-star-1.webp);
    height: 150px;
    width: 150px;
    background-size: 100% 100%;
    animation: anim 3s infinite ease-in;
    position: absolute;
    z-index: 5;
    animation-delay: 0.5s;
}

@keyframes anim {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}